block form
  .row
    .col-md-12
      form(name="input",  class="text-center",  action="", method="get")
        p
          | Team Name:
          input(type="text", name="name")
        p
          | Group Size:
          input(type="text", name="size")
        p
          input(type="button", class="btn btn-tcc" value="Submit")
      .div
      form(name="input",  class="text-center", action="", method="get")
        p
          | Meet Team:
          input(type="text", name="name")
        p
          input(type="button", class="btn btn-tcc" value="Accept")
          input(type="button", class="btn btn-tcc" value="Decline")

