doctype
html
  head
    title #{title}
    link(rel='stylesheet', type="text/css", href='/lib/bootstrap-3.1.1.min.css')
    link(rel='stylesheet', type="text/css", href='/stylesheets/style.css')
    script(src='socket.io/socket.io.js')
    script(src='lib/jquery-2.1.0.js')
    script(src='lib/angular.js')
    script(src='lib/google.js')
    script(src='lib/google-maps.js')
    script(src='lib/google-places.js')
    script(src='lib/bootstrap-3.1.1.min.js')
  body(ng-app='footsy', ng-controller='AppCtrl')
    //- Heading block "CGCU <3's U"
    .row
      .jumbotron.text-center
        h1 Footsy!
        p.lead Play to win.
    block content
    block modal
    script(src='app.js')
