doctype
html
  head
    title #{title}
    link(rel='stylesheet', type="text/css", href='/lib/bootstrap-3.1.1.min.css')
    link(rel='stylesheet', type="text/css", href='/stylesheets/style.css')
    script(src='lib/jquery-2.1.0.js')
    script(src='lib/bootstrap-3.1.1.min.js')
  body
    //- Heading block "CGCU <3's U"
    .row
      .jumbotron.text-center
        h1 Footsy!
        p.lead Play to win.
    .row
      canvas.map-canvas
    .row
      .col-md-12
        form(name="input",  class="text-center",  action="", method="get")
          p
            | Team Name:
            input(type="text", name="name")
          p
            | Group Size:
            input(type="text", name="size")
          p
            input(type="button", class="btn btn-tcc" value="Submit")
        .div
        form(name="input",  class="text-center", action="", method="get")
          p
            | Meet Team:
            input(type="text", name="name")
          p
            input(type="button", class="btn btn-tcc" value="Accept")
            input(type="button", class="btn btn-tcc" value="Decline")

    block append modal
    block append content
    block append scripts