.jumbotron
  background none
  height 160px
  padding-top 10px
  
.group-locator
  width 100%
  height 540px
  border 1px solid black
  margin-bottom 14px

.modal-footer button
  position relative
  margin-right auto
  margin-left auto
  display block
  width 120px

.form-signin
  max-width 330px
  padding 15px
  margin 0 auto
  input.form-control
    margin-top 10px
  label.remember
    float right
  a.sign-up
    top 10px
    float left
    position relative

table.group-table
  tr
    cursor pointer
  tr.success
    font-weight bold
  .index
    width 36px
    text-align center
  .name
    text-transform capitalize

.content
  height 20px
  text-transform capitalize
